<div>
  <main>
    <div class="home-container">
      <h1>
        Write your thoughts down as they come to you.
      </h1>
      <p>
        Notes is a simple note taking app made with Node.Js, EJS & MongoDB.
      </p>
      <div class="basic-btn home-btn">
        <a href="/notes">Let's get started!</a>
      </div>
    </div>
  </main>
</div>
