<div class="add-note-info">
  <div class="info-container">
    <div class="info-bar-title">
      <h1>Add Your New Note</h1>
    </div>
    <diV class="basic-btn">
      <a href="/notes">Back To Notes</a>
    </diV>
  </div>

  <div class="form-container">
    <form class="basic-form" action="/notes/add" method="POST">
      <div>
        <input class="basic-input" id="title" type="text" name="title" placeholder="Title" required>
      </div>
      <div>
        <textarea class="basic-txt-area" id="body" name="body" placeholder="Take a note..." rows="12"></textarea>
      </div>
      <div>
        <button class="basic-btn" type="submit">+ Add Note</button>
      </div>
    </form>
  </div>
</div>

<script>
  
</script>
