JUMP 130
SET 0
STORE 5
LOAD 2
JZERO  20
STORE 4
HALF
STORE 2
ADD 0
STORE 3
LOAD 4
SUB 3
JZERO  16
LOAD 1
ADD 5
STORE 5
LOAD 1
ADD 0
STORE 1
JUMP  3
JUMPI 6
LOAD 1
JZERO 53
LOAD 2
JZERO 53
STORE 4
SUB 1
JPOS 32
LOAD 4
ADD 0
STORE 4
JUMP 26
SET 0
STORE 3
LOAD 4
HALF
STORE 4
LOAD 2
SUB 4
JPOS 56
LOAD 3
ADD 0
STORE 3
LOAD 4
SUB 1
JPOS 34
SET 1
ADD 3
STORE 3
LOAD 1
SUB 4
STORE 1
JUMP 34
SET 0
STORE 3
STORE 1
JUMPI 5
SET 1
STOREI 10
LOADI 8
STORE 12
LOADI 7
STORE 1
LOADI 9
STORE 2
SET 68
STORE 5
JUMP 21
LOAD 1
STORE 11
LOAD 12
JZERO 129
LOAD 12
HALF
ADD 0
STORE 1
LOAD 12
SUB 1
STORE 13
SET 1
STORE 1
LOAD 13
SUB 1
JPOS 107
LOAD 13
STORE 1
SET 1
SUB 1
JPOS 107
LOADI 10
STORE 1
LOAD 11
STORE 2
SET 96
STORE 6
JUMP 1
LOAD 5
STOREI 10
LOADI 10
STORE 1
LOADI 9
STORE 2
SET 105
STORE 5
JUMP 21
LOAD 1
STOREI 10
LOAD 12
HALF
STORE 12
LOAD 11
STORE 1
LOAD 11
STORE 2
SET 117
STORE 6
JUMP 1
LOAD 5
STORE 11
LOAD 11
STORE 1
LOADI 9
STORE 2
SET 126
STORE 5
JUMP 21
LOAD 1
STORE 11
JUMP 70
JUMPI 14
GET 15
GET 16
GET 17
SET 15
STORE 7
SET 16
STORE 8
SET 17
STORE 9
SET 18
STORE 10
SET 144
STORE 14
JUMP 57
PUT 18
HALT
