LOADI 2
STORE 4
LOADI 3
STOREI 2
LOAD 4
STOREI 3
JUMPI 5
LOADI 6
STORE 9
LOADI 7
STORE 10
LOAD 10
JZERO 33
LOAD 9
STORE 1
LOAD 10
SUB 1
JPOS 25
LOAD 10
STORE 1
LOAD 9
SUB 1
STORE 9
JUMP 32
SET 9
STORE 2
SET 10
STORE 3
SET 32
STORE 5
JUMP 1
JUMP 12
LOAD 9
STOREI 8
JUMPI 11
GET 12  [main]
GET 13
GET 14
GET 15
SET 12
STORE 6
SET 13
STORE 7
SET 16
STORE 8
SET 49
STORE 11
JUMP 8
SET 14
STORE 6
SET 15
STORE 7
SET 17
STORE 8
SET 58
STORE 11
JUMP 8
SET 16
STORE 6
SET 17
STORE 7
SET 18
STORE 8
SET 67
STORE 11
JUMP 8
PUT 18
HALT
