JUMP 95
SET 0
STORE 5
LOAD 2
JZERO  20
STORE 4
HALF
STORE 2
ADD 0
STORE 3
LOAD 4
SUB 3
JZERO  16
LOAD 1
ADD 5
STORE 5
LOAD 1
ADD 0
STORE 1
JUMP  3
JUMPI 6
LOAD 1
JZERO 53
LOAD 2
JZERO 53
STORE 4
SUB 1
JPOS 32
LOAD 4
ADD 0
STORE 4
JUMP 26
SET 0
STORE 3
LOAD 4
HALF
STORE 4
LOAD 2
SUB 4
JPOS 56
LOAD 3
ADD 0
STORE 3
LOAD 4
SUB 1
JPOS 34
SET 1
ADD 3
STORE 3
LOAD 1
SUB 4
STORE 1
JUMP 34
SET 0
STORE 3
STORE 1
JUMPI 5
SET 0
STOREI 9
LOADI 7
STORE 1
LOADI 8
STORE 2
SET 66
STORE 5
JUMP 21
LOAD 1
STORE 10
LOAD 10
JPOS 94
LOADI 7
STORE 1
LOADI 8
STORE 2
SET 77
STORE 5
JUMP 21
LOAD 3
STOREI 7
SET 1
STORE 1
LOADI 9
ADD 1
STOREI 9
LOADI 7
STORE 1
LOADI 8
STORE 2
SET 91
STORE 5
JUMP 21
LOAD 1
STORE 10
JUMP 68
JUMPI 11
GET 12
SET 2
STORE 15
LOAD 15
STORE 1
LOAD 15
STORE 2
SET 105
STORE 6
JUMP 1
LOAD 5
STORE 13
LOAD 12
STORE 1
LOAD 13
SUB 1
JPOS 140
SET 12
STORE 7
SET 15
STORE 8
SET 14
STORE 9
SET 121
STORE 11
JUMP 57
LOAD 14
JZERO 125
PUT 15
PUT 14
SET 1
STORE 1
LOAD 15
ADD 1
STORE 15
LOAD 15
STORE 1
LOAD 15
STORE 2
SET 137
STORE 6
JUMP 1
LOAD 5
STORE 13
JUMP 107
SET 1
STORE 1
LOAD 12
SUB 1
JPOS 150
LOAD 12
STORE 1
SET 1
SUB 1
JZERO 153
PUT 12
SET 1
PUT 0
HALT
